@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Rozha+One&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color:#050315;
    color: rgb(255 255 255);
    ;
    font-size: 25px;
}

h1{
    margin-bottom: 0px;
}
h4{
    margin-top: 0px;
}


.paginas{
    display: flex;
    gap: 35px;
    font-size: 15px;
    font-family: 'DM Serif Text';
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 40px;
}

.titulo-presentacion{
    font-size: 90px;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 220px;
    font-family: 'DM Serif Text';
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

ul{
    display: flex;
    list-style: none; 
    padding-left: 20px;
}