@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Rozha+One&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Evita el desbordamiento horizontal */
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #050315;
    color: rgb(255 255 255);
    font-size: 25px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


h1 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
    font-size: 50px;
}

h4 {
    margin-top: 0px;
}

.presentacion {
    font-size: 90px;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 270px;
    font-family: 'DM Serif Text';
}



.descripcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding-left: 25px;
    box-sizing: border-box;
    background-color: #050315;
}

.texto {
    flex: 3.5;
    font-size: 20px;
    width: 500px;
    height: 100%;
    padding: 80px;
    margin-right: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word;

}

.separador {
    width: 40px;
    height: 100%;
    background-color: white;
}

.imagenDescripcion {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-image: url('../Assets/Balls.webp');
    background-attachment: fixed;
    background-size: 45%;
    background-position: right;
    width: 100%;
    height: 100%;
}


.imagenDescripcion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imagenDescripcionResponsive {
    display: none; /* Oculta la imagen por defecto */
}

.horarios {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;
}

.horarios::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../Assets/gymfondo.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 1;
}

.horarios-dias {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
}

.horarios-dias h2 {
    text-align: center;
    margin: 70px;
    background-color: transparent;
    font-size: 100px;
}

.container-horario {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 80px 20px;
    flex-wrap: wrap;
}

.horario {

    background-color: transparent;
    margin: 20px;
    flex: 1 1 30%;
    box-sizing: border-box;
}

.horario h3,
.horario p {
    text-align: center;
    margin: 10px;
    background-color: transparent;
    font-size: 30px;
}

.horario span {
    font-size: 30px;
    color: #FF6500;
    background-color: transparent;
}

.planes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 105vh;
    background-color: white;
    color: black;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.planes h2 {
    margin: 20px;
    font-size: 70px;
}

.container-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    max-width: 247px;
    min-height: 565px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: .5s;
}

.tarjeta h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.tarjeta strong {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.tarjeta:hover {
    scale: 1.1;
}

.contenedor-vistas {
    width: 100%;
    overflow-x: hidden;
}

.promocion {
    height: 118vh;
}

#tituloPromocion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.vistas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #050315;
    color: white;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
    scrollbar-width: none;
    /* Oculta la barra de desplazamiento en Firefox */
}

.vistas::-webkit-scrollbar {
    display: none;
    /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
}

#imagenPromocional,
#videoPromocional,
#imagenPromocional2,
#videoPromocional3 {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    transition: opacity 0.5s ease;
    scroll-snap-align: start;
}

#imagenPromocional img,
#videoPromocional video,
#imagenPromocional2 img,
#videoPromocional3 video {
    width: auto;
    height: 100%;
}

#imagenPromocional:hover,
#videoPromocional:hover,
#imagenPromocional2:hover,
#videoPromocional3:hover {
    opacity: 0.7;
}

#imagenPromocional:hover::after,
#videoPromocional:hover::after,
#imagenPromocional2:hover::after,
#videoPromocional3:hover::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 480px) {

    .presentacion {
        font-size: 200%;
        margin: 40% 0%;
    }

    .descripcion {
        display: flex;
        flex-direction: column; /* Cambia a columna para que .texto ocupe todo el ancho */
        height: auto;
        padding: 0%;
    }

    .imagenDescripcion {
        display: none; /* Elimina la imagen de fondo y oculta el contenedor */
    }

    .imagenDescripcionResponsive {
        display: block; /* Asegura que se muestre en el modo responsive */
        width: 100%; /* Asegura que ocupe todo el ancho */
        margin-bottom: -6px; /* Espacio debajo de la imagen */
    }

    .imagenDescripcionResponsive img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .texto {
        width: 100%; /* Asegura que ocupe todo el ancho */
        padding: 1%;
        margin-right: 0%;
        margin-bottom: 10%;
        font-size: 150%;
    }

    .imagenDescripcion {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        background-image: none; /* Elimina la imagen de fondo */
        background-attachment: fixed;
        background-size: 45%;
        background-position: right;
        width: 100%;
        height: 300px; 
    }

    #tituloPromocion {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0px;
        font-size: 150%;
    }

    .texto {
        width: 100%;
        padding: 1%;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto p, .texto h2{
        width: 75%;
        text-align: center;
        font-size: 50%;
        overflow: hidden;
    }
    .texto h2{
        font-size: 200%;
    }

    .imagenDescripcion {
        width: 100%;
        height: 70vh;
        background-image: url('../Assets/fotoGym.webp');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: right;
    }

    .container-tarjetas{
        flex-direction: column;
        align-items: center;
    }
     .planes {
        height: auto;
        width: 100%;
    }

    .planes h2 {
        font-size: 150%;
    }

    .container-tarjetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas de igual tamaño */
        grid-auto-rows: auto;
        /* Filas automáticas */
    }

    .tarjeta {
        width: 100%;
        max-width: 60%;
        min-height: 87%;
        justify-content: flex-start;
        align-items: center;
    }

    .tarjeta h3,
    .tarjeta strong {
        font-size: 100%;
        margin: 0px;
    }   
    .linea-plan {
        display: block;
        border: 1px solid rgb(0, 0, 0);
        width: 90%;
    } 

    .horarios-dias h2{
        font-size: 50px;
        margin: 20px 20px;
    }

    #tituloPromocion {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0px;
    }
}